{% extends '_base.html' %}
{% load static %}
{% load date_tag %}

{% block title %}Muskan Kalsi | Details{% endblock title %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/style_details.css' %}" />
{% endblock cssfiles %}
{% block nav_stuff %}
<nav class="navbar navbar-dark bg-black navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"><span style="font-weight: 400;">MUSKAN</span><span style="font-weight: 100;">KALSI</span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li data-menuanchor="about" class="topLeftBorders"><a href="#aboutSection">About</a></li>
                <li data-menuanchor="experience" class="topLeftBorders"><a href="#experience">Experience</a></li>
                <li data-menuanchor="experience" class="topLeftBorders"><a href="#education">Education</a></li>
                <li data-menuanchor="technologies" class="topLeftBorders"><a href="#languages">Languages</a></li>
                <li data-menuanchor="projects" class="topLeftBorders"><a href="#domains">Domains</a></li>
                <li data-menuanchor="contact" class="topLeftBorders"><a href="#platforms">Platforms</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock nav_stuff %}
{% block content %}
<div class="details-page" id="details-page">

    <!-- about -->
    <div class="section" id="aboutSection">
        <div class="container">
            {% for abt in about %}
            <h1>{{abt.title}}</h1>
            <div class="row">
                <div class="col-md-3">
                    <div class="text-center rounded-circle">
                        <img src="{% static 'img/muskan.jfif' %}" width="250" />
                    </div>
                </div>
                <div class="col-md-9 aboutText">
                    <p class="aboutPara">{{abt.info_para|linebreaksbr}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!--Work Experience-->
    <div class="section" id="experience">
        <div class="container">
            <h1>Work Experience</h1>
            {% for w in exp %}
            <div class="row">
                <div class="col-md-2">
                    <div class="logo">
                        {% if w.img.url %}
                        <img src="{{w.img.url}}" width="150" />
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row workexp">
                        <div class="duration">
                            <p>{{ w.start_date|todate }} - {{ w.end_date|todate }}</p>
                        </div>
                    </div>
                    <div class="row workexp">
                        <div class="title">
                            <h2>{{ w.title }}</h2>
                        </div>
                    </div>
                    <div class="row workexp">
                        <div class="details">
                            <p>{{w.more}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!--Education-->
    <div class="section" id="education">
        <div class="container">
            <h1>Education</h1>
            {% for w in edu %}
            <div class="row">
                <div class="col-md-2">
                    <div class="logo">
                        {% if w.img.url %}
                        <img src="{{w.img.url}}" width="150" />
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row workexp">
                        <div class="duration">
                            <p>{{ w.start_date|todate }} - {{ w.end_date|todate }}</p>
                        </div>
                    </div>
                    <div class="row workexp">
                        <div class="title">
                            <h2>{{ w.title }}</h2>
                        </div>
                    </div>
                    <div class="row workexp">
                        <div class="details">
                            <p>{{w.more}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!--Languages-->
    <div class="section" id="languages">
        <div class="container">
            <h1>Languages</h1>
            <div class="row"></div>
            <div class="row langrow">
                {% for w in lang %}
                <div class="col-md-3 lang">
                    <div class="col-md-2 lang-stuff">
                        {% if w.icon %}
                        <i class="{{w.icon}}" style="font-size: 25px; color: {{w.color}};"></i>
                        {% endif %}
                    </div>
                    <div class="col-md-10 lang-stuff">
                        <p>{{w.title}}</p>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row langrow">
                {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>

</div>

<!--Domains-->
<div class="section" id="domains">
    <div class="container">
        <h1>Domains and Skill Set</h1>
        <div class="row"></div>
        <div class="row langrow">
            {% for w in dom %}
            <div class="col-md-3 lang">
                <div class="col-md-2 lang-stuff">
                    {% if w.icon %}
                    <i class="{{w.icon}}" style="font-size: 25px; color: {{w.color}};"></i>
                    {% endif %}
                </div>
                <div class="col-md-10 lang-stuff">
                    <p>{{w.title}}</p>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row langrow">
            {% endif %}

            {% endfor %}
        </div>
    </div>
</div>

<!--Platforms-->
<div class="section" id="platforms">
    <div class="container">
        <h1>Platforms</h1>
        <div class="row"></div>
        <div class="row langrow">
            {% for w in dom %}
            <div class="col-md-3 lang">
                <div class="col-md-2">
                    {% if w.icon %}
                    <i class="{{w.icon}}" style="font-size: 25px; color: {{w.color}};"></i>
                    {% endif %}
                </div>
                <div class="col-md-10">
                    <p>{{w.title}}</p>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row langrow">
            {% endif %}

            {% endfor %}
        </div>
        <div class="row"></div>
    </div>
</div>

{% endblock content %}