{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}
{% block cssfiles %}
<style>
</style>
{% endblock cssfiles %}
{% block content %}
<div id="fullpage">
    <div class="section" id="section0">
        <section class="info">
            <h1 class="hero__font">Real-time intineraries powered by location AI</h1>
            <div class="icons">
                <div class="icon">
                    <i class="fas fa-address-card"></i>
                    <div class="icon__info">
                        <p class="icon__top">Popular</p>
                        <p class="icon__bottom">Cities</p>
                    </div>
                </div>
                <div class="icon">
                    <i class="fas fa-address-book"></i>
                    <div class="icon__info">
                        <p class="icon__top">Local</p>
                        <p class="icon__bottom">Insights</p>
                    </div>
                </div>
                <div class="icon">
                    <i class="fab fa-algolia"></i>
                    <div class="icon__info">
                        <p class="icon__top">Amazing</p>
                        <p class="icon__bottom">Guides</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="features">
            <div class="feature">
                <img src="{% static 'img/traveler.jpg' %}" alt="Traveler">
                <div class="feature__info">
                    <p class="feature__top">Hundreds of guides</p>
                    <p class="feature__bottom">New high-quality guides  added each week.</p>
                </div>
            </div>
            <div class="feature">
                <img src="{% static 'img/travel-guide.jpg' %}" alt="Travel Guide">
                <div class="feature__info">
                    <p class="feature__top">Vetted local experts</p>
                    <p class="feature__bottom">The largest network of local guides worldwide.</p>
                </div>
            </div>
            <div class="feature">
                <div class="feature__info">
                    <a class="feature__cta" href="#">Learn More</a>
                </div>
            </div>
        </section>
    </div>
    <div class="section" id="section1">

    </div>
    <div class="section" id="section2">

    </div>
</div>
{% endblock content %}